@tailwind base;
@tailwind components;
@tailwind utilities;

/* Purple color */
/* #504CCF */

@font-face {
  font-family: "ReemKufi-Regular";
  src: local("ReemKufi-Regular"),
  url('./fonts/Open_Sans\,Reem_Kufi/Reem_Kufi/static/ReemKufi-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ReemKufi-Regular', 'Open_Sans'
}

.header-btn {
  border: 1px solid #D7D7D7;
}